  <table border='10'><tr>
    <td><div id="top_left">TOP LEFT</div></td>
    <td><div id="top_right">TOP RIGHT</div></div><div></td>
      </tr>
      <tr>
      <td><div id="bottom_left">BOTTOM LEFT</div></td>
      <td><div id="bottom_right" data-asyn='{"verb":"request_local_id","noun":"table", "sender":"page_uuidbar"}'>BOTTOM RIGHT</div></td>
</tr></table>


<!--  data-asyn='{"verb":"log","noun":"Right then...", "sender":"flurper"}
  data-asyn='{"verb":"set_title","noun":"Loading it all up", "sender":"page_uuid123095702357"}' -->