<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @page_title %></title>
  <meta name="generator" content="asyn by Cool Fusion">
  <meta name="author" content="Justin Clayden">
  <style type="text/css">
   body {
     color: white;
     background-color: #eeddff }
   </style>
   <script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
   <script type="text/javascript" src="/js/asyn.js"></script>
   <script type="text/javascript">
   window.onload = function() {
     sendPayloadRequest("#page", {'content_id' : 'content_id_yo'});
   }
   </script>
  <!-- Date: 2011-02-25 -->
</head>
<body>
<div id="page"></div>
</body>
</html>




