<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @page_title %></title>
  <meta name="generator" content="asyn by Cool Fusion">
  <meta name="author" content="Justin Clayden">
  <style type="text/css" src="css/gold.css">
   </style>
   <script type="text/javascript" src="/js/jquery-1.5.1.js"></script>
   <script type="text/javascript" src="/js/asyn.js"></script>
   <script type="text/javascript">
   //document.ready = function() {
     window.onload = function() {
       console.log("Calling boot");
     asyn_boot();
   }
   </script>
  <!-- Date: 2011-02-25 -->
</head>
<body>
<div id="page" data-asyn='{"query":"local_id","value":"aggregator","sender":"page_uuid123095702357"}'></div>
</body>
</html>



